[Unit]
Description=Google Drive kdbx
AssertPathIsDirectory=%h/.kdbx

[Service]
Type=simple
ExecStart=/usr/bin/rclone mount \
        --config=%h/.config/rclone/rclone.conf \
        --vfs-cache-mode writes yugin_google:/.kdbx %h/.kdbx
ExecStop=/bin/fusermount -u %h/.kdbx
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
