* {
    font-family: monospace;
    font-size: 15pt;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ebdbb2;
}

#custom-separator {
    font-size: 20px;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #92971a;
    box-shadow: inset 0 -3px #ebdbb2;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#language,
#pulseaudio,
#wireplumber,
#tray,
#mode,
#custom-weather,
#keyboard-state,
#mpd {
    padding: 0 7px 0 5px;
    border-right: 2px solid #928374;
}

#custom-power {
    padding: 0 7px 0 5px;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#pulseaudio {
    color: #fabd2f;
}

#pulseaudio.muted {
    color: #fb4934;
}

#cpu {
    color: #83a598;
}

#memory {
    color: #d3869b;
}

#language {
    color: #8ec07c;
}
